src/main/mule/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="dbFlow" doc:id="b4dc8d73-970e-4b56-b8f5-72c7bf4b296f" >
		<db:insert doc:name="Insert" doc:id="4dade47f-269b-4531-8eb8-f81d105cb37a" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO `ods`.`fx`
(Idex,symbols,operation,quantity,price)
VALUES
(:Idex,:symbols,:operation,:quantity,:price)


]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Idex: "NASDAQ",
symbols: "USDEUD",
operation: "Buy",
quantity: 20,
price: 100}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="f55f277f-177a-4c8d-9d01-bc911c6e394f" message="#[payload]"/>
	</flow>
</mule>
